.carousel-container {
  max-width: 350px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s;
}

.carousel-header {
  text-align: center;
  font-size: 30px;
}

.carousel-item {
  flex: 0 0 100%;
  padding: 20px;
}

.carousel-item img,
.blog-featured-image {
  border: 1px solid #fff;
}

.prev-btn,
.nxt-btn {
  overflow: visible;
  border: none;
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  background: none;
  cursor: pointer;
  z-index: 9 !important;
  opacity: 0.6;
}

.prev-btn:hover,
.nxt-btn:hover {
  opacity: 1;
}

.prev-btn {
  left: 0;
}

.nxt-btn {
  right: 0;
}

@media (max-width: 500px) {
  button.prev-btn,
  button.nxt-btn {
    display: none;
  }

  .carousel {
    display: flex;
    flex-direction: column;
  }
}
