/* Mobile/tablet styling */

.scroll-container {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.fa-solid {
  padding: 3rem;
}

.index-content {
  margin-top: 90vh;
}

.intro {
  padding: 1rem;
  margin: 1rem;
}

/* CSS for blogs.html */

.blogs {
  max-width: 80%;
  margin: 50px auto;
}

.individual-blog-container {
  border: 1px solid #fff;
  padding: 2rem;
  background-color: #141414;
  opacity: 0.9;
}

.blog-link {
  text-decoration: underline;
}

.more-link {
  display: none;
}

.view-more {
  max-width: 200px;
  margin: auto;
}

button.load-more {
  margin-bottom: 1rem;
}

/* CSS for single-blog.html */

.single-blog {
  padding: 2rem;
}

.single-blog-container p {
  max-width: 600px;
  margin: auto;
}

.blog-date {
  padding-bottom: 1rem;
}

.single-blog-container img {
  height: auto;
  margin: 0;
  cursor: zoom-in;
  border: 1px solid;
}

.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 700px;
}

.wp-block-image {
  max-width: 300px;
  margin: auto;
  padding: 1rem;
}

dialog {
  background-color: #000;
  max-width: 80%;
}

/* CSS for contact.html */

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem 2rem;
  max-width: 500px;
}

.contact-form {
  padding-bottom: 3rem;
}

.form textarea {
  height: 150px;
}

.form label {
  padding: 0.5rem 0;
}

.form input {
  padding: 0.5rem;
}

button.submit,
#submit-comment {
  margin: 0;
  cursor: pointer;
}

#comments-container {
  border-top: 1px solid #fff;
  margin: 1rem auto;
  max-width: 500px;
}

.single-comment {
  margin: 1rem;
  border: 1px solid #fff;
  padding: 1rem;
}

.comment-author {
  font-weight: 800;
  padding-bottom: 0.5rem;
}

.thank-you {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CSS for about.html */

.blog-h1,
.contact h1,
.blogs-intro,
.contact-intro,
.backBtn-container,
.about-container h1,
.single-blog-container h1 {
  text-align: center;
}

.about,
.img-container,
.contact-intro {
  padding: 2rem;
  max-width: 600px;
  margin: 0.5rem auto;
}

/* Desktop styling */

@media (min-width: 1100px) {
  .intro,
  .blog-h1,
  .blogs-intro {
    max-width: 1000px;
  }

  .intro {
    margin: auto;
  }

  /* CSS for blogs.html */

  .blog-featured-image {
    overflow: hidden;
    min-height: 250px;
  }

  .blog-featured-image img {
    margin: -300px 0px -350px 0px;
  }

  /* CSS for about.html */

  .about-content {
    display: flex;
  }

  .about-content > * {
    flex: 1;
  }
}

/* Additional styling for smaller resolutions */

@media (max-width: 600px) {
  .blog-img {
    max-height: 180px;
  }

  .single-blog {
    padding: 1rem;
  }

  .blogs {
    max-width: 100%;
  }

  .blogs h2 {
    font-size: 18px;
  }
}
