/* Mobile/tablet styling */

.scroll-container {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  cursor: pointer;
}

.index-content {
  margin-top: 90vh;
}

.intro {
  padding: 1rem;
  margin: 1rem;
}

/* CSS for blogs.html */

.blogs {
  max-width: 80%;
  margin: 50px auto;
}

.individual-blog-container {
  border: 1px solid #fff;
  padding: 2rem;
  background-color: #141414;
  opacity: 0.9;
}

.blog-link {
  text-decoration: underline;
}

.view-more {
  max-width: 300px;
  margin: auto;
}

/* CSS for single-blog.html */

.single-blog {
  padding: 2rem;
}

.single-blog-container p {
  max-width: 600px;
  margin: auto;
}

.blog-date {
  padding-bottom: 1rem;
}

.single-blog-container img {
  height: auto;
  margin: 0;
  cursor: zoom-in;
  border: 1px solid;
}

.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 700px;
}

.wp-block-image {
  max-width: 300px;
  margin: auto;
  padding: 1rem;
}

dialog {
  border: none !important;
  background-color: #000;
  max-width: 80%;
}

/* CSS for about.html */

.blog-h1,
.blogs-intro,
.about-container h1,
.single-blog-container h1 {
  text-align: center;
}

.about,
.img-container {
  padding: 2rem;
  max-width: 600px;
  margin: 0.5rem auto;
}

/* Desktop styling */

@media (min-width: 1100px) {
  .intro,
  .blog-h1,
  .blogs-intro {
    max-width: 1000px;
  }

  .intro {
    margin: auto;
  }

  /* CSS for blogs.html */

  .blog-featured-image {
    overflow: hidden;
    min-height: 250px;
  }

  .blog-featured-image img {
    margin: -300px 0px -400px 0px;
  }

  /* CSS for about.html */

  .about-content {
    display: flex;
  }

  .about-content > * {
    flex: 1;
  }
}

/* Additional styling for smaller resolutions */

@media (max-width: 600px) {
  .blog-img {
    max-height: 180px;
  }

  .single-blog {
    padding: 1rem;
  }

  .blogs {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .backBtn-container {
    text-align: center;
  }
}
